<% if @products.blank? %>
<div class="notification note-info">
    <a title="Close notification" class="close" href="#"><span>close</span></a>
    <span class="icon"></span>
    <p><strong>No products:</strong> You currently have no products in your store.</p>
</div>
<% else %>
<p><small><%= page_entries_info @page_results, :entry_name => 'product' %></small></p>
<ul id="product-chooser-list">
<% @page_results.each do |product| %>
    <li class="product-chooser-row">
        <a class="product-chooser-href ui-state-default <%= raw 'ui-state-disabled' if existing(product) %>" href="#<%= raw product.handle %>" data-product-id="<%= raw product.id %>" title="<%= product.title %>">
            <span class="fl ui-icon <%= existing(product) ? 'ui-icon-check' : 'ui-icon-triangle-1-w' %>"></span>
            <span class="ellipsis title"><%= product.title %></span>
            <span class="fr pico"><%= image_tag product.images.first.pico rescue '' %></span>
        </a>
    </li>
<% end %>
</ul>
<%= paginate @page_results %>
<% end %>
